
.signup_container{   
    height:auto;
    width: 70%;
    border: 3px solid #11324d;
    display: flex;
    border-radius:5px;
    align-items:center;
    margin-left: 185px;
    margin-top: 30px;
}

.signup-image img{
    background-size: cover;
    width:100%;
    height: 594px; 
}

.signup_content{
    background-color: aliceblue;
    height:594px;
    width:60%;
    margin-left: auto;
}

.signup_content_row01 h1{
    margin-top: 0px;
    font-weight: bold;
    text-align: center;
    font-family: georgia;
    text-decoration: none;
}

.signup_content_row02{
    align-items:flex;
    display: flex;
    justify-content: space-between;
    flex-flow:column;   
}
.signup_placeholder01{
    padding: 1rem 25px 1rem 25px;
    margin-top: 2px;
    border: 1.7px solid black;
    text-align: center;
    margin-left: 5%;
    float:center;
   background-color: rgba(226, 224, 224, 0.911);

}
.signup_placeholder02{
    border: 1.7px solid black;
    padding: 1rem 25px 1rem 25px;
   margin-top: 2px;
    margin-right: 7%;
    margin-left: 5% ;
    text-align: center;
    float:right;
    white-space: nowrap;
    background-color: rgba(226, 224, 224, 0.911);

}

.signup_content_row03{
   text-align: center;
}

.signup_button{
    background-color: #11324d;
    color:white;
    display:inline-block;
    padding:1.1rem 2em;
    text-decoration: none;
    box-shadow: 2px 2px 10px #2c0202;
    transition: 0.2s ease-in;
    border: none;
    font-size: 20px;
    font-weight: bold;
    font-family: Gill Sans MT;
    margin-left: 32px;
    border-radius: 1em ; 
   
}
.signup_button:hover{
    background-color: rgb(255, 94, 0);
    border-radius: 1em ;
}
#signup_p {
    text-align: center;
    margin-left: 7%;
}
#LoginPage{
    text-align: center;
    margin-left: 1%;
}
#error_message{
    color: red;
    
}