.AddressDiv{
    padding-left: 1cm;
    width: 60%;
    height: 150px;
    background-color: #e7e0c9
}

.orderSummayDiv{
    width: 38%;
    height: 300px;
    background-color: #c1cfc0;
    float: right;
}

.address{
    padding-left: 1cm;
    width: 50%;
    height: 100%;
    float: left;
}

.changeAdressDiv{
    width: 50%;
    height: 100%;
    float :right;
    text-align: right;
    padding-right: 1cm;
    
}

#products{
    width: 100%;
}

#changeAddressToDefault{
   
    color: blueviolet;
}

.productsdiv{
    width: 100%;
}

.product_image{
    float: left;
    
}

.productInfo{
    width: 40%;
    height: 100%;
}

#total{
    font-size: 25px;
}

#Total{
    font-size: 28px;
    color: antiquewhite;
}

.place_order_button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.po_button{
    width: 90%;
    height: 40px;
    background-color: rgb(248, 196, 83);
    font-size: 18px;
}

h1{
    text-decoration: underline;
    text-transform: none;
}

.ordsum{
    margin-top: 1cm;
}
.product{
    background-color: white;
    width: 60%;
    height: 200px;
}

.booktitle{
    font-weight: bold;
}

.price{
    font-weight: bold;
}