.containerfooter{
    height: 300px;
    background-color: var(--color-131921);
    margin-top: 20px;
    margin-bottom: 0px;
}
.footer-upper{
    display: flex;
    margin-left: 5%;
}
.firstline{
    flex: 3;
}
.secondline{
    flex: 3;
}
.thirdline{
    flex: 3;
}
.sendmassage{
    flex: 6;
}
