.forgot-password-section{
    padding-left: 22em;
    padding-bottom: 1.5em;
    padding-right: 22em;
    padding-top: 2em;    
 
}

.flex_container01{
    display: flex;
    justify-content: space-between;  
     
  }

.forgot-container{
    margin-right: auto;
    margin-left: auto;
    box-shadow: 2px 2px 5px gray;
    border: 3px solid #034748;
    box-shadow: 2px 2px 10px #2c0202;
    background-color: azure;
  
} 

.flex-conatiner01 h1{
        text-align: center;
        color: #034748;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
  }
  .forgot-image{
    width:80%;
  }

  #forgot_img{
    width:19%;
    height: 160px;
    margin-left:52%;
    margin-right: 38%;
    margin-top: auto;
  }
  #forgot-text{
    text-align:center;
    color:black;
    font-weight: 25px;
    font-family: gill sans MT;
    font-size:17px;
   
    padding-top: 1rem;
  }
  .forgot_form {
 
  font-size: 25px;
  text-align: center;
  padding-left: 18%;
  margin-left: 10%;
  }

.forgot-form01{
  background-color:  rgba(230, 229, 229, 0.911);
  padding:1rem 2.5rem;
  border: none;
  border-top: 1rem;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  margin-left: 30%;
  margin-bottom: 1.8rem;
  padding-left: 2em;
}

.forgot_submit{
  background-color: #034748;
  display:inline-block;
  padding:0.8rem 3.5rem;
  color: white;
  box-shadow: 2px 2px 10px #2c0202;
  transition: 0.2s ease-in;
  border: none;
  font-size: 20px;
  font-weight: bold;
  font-family: Gill Sans MT;
  margin-left:38%;
  border-radius: 1em ;
  margin-bottom: 1rem;
  
}
.forgot_submit:hover{
  background-color: #559fd8;
  border-radius: 1em ;
}

.flex-conatiner01 a{
  margin-left: 40%;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 1rem;
}