.forgot-password-section{
  padding: 2em 20% 2em 20%;
}

.flex-container01{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.forgot-container{
  margin:0 auto;
  box-shadow: 2px 2px 5px gray;
  border: 3px solid #11324d;
  box-shadow: 2px 2px 10px #2c0202;
  background-color: #e9f1f7;
  width: 80%;
  max-width: 80%;
  padding: 1em;
  
}

.flex-conatiner01 h1{
  font-size: 2.5em;
  text-align: center;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  width: 100%;
  margin-bottom: 1rem;
}

.forgot-image{
  width: 50%;
  text-align: center;
}

#forgot_img{
  width: 60%;
  max-width: 300px;
  height: auto;
  margin: 1rem ;
  margin-left: 65%;
}

#forgot-text{
  text-align:center;
  color:black;
  font-weight: 25px;
  font-family: gill sans MT;
  padding: 2em 0;
  font-size: 17px;
}

.forgot_form {
  font-size: 1.5em;
  text-align: center;
  padding-left: 5%;
  margin-left: 5%;
  width: 80%;
}

.forgot-form01{
  background-color:  rgba(175, 173, 173, 0.911);
  padding: 1em 10%;
  border: none;
  border-top: 1rem;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 1.8em;
  width: 70%;
  margin-left: 12%;
}

.forgot_submit{
  background-color: #11324d;
  display:inline-block;
  padding: 0.7em 12%;
  color: white;
  box-shadow: 2px 2px 10px #2c0202;
  transition: 0.2s ease-in;
  border: none;
  font-size: 20px;
  font-weight: bold;
  font-family: Gill Sans MT;
  margin-left:30%;
  border-radius: 1em ;
  margin-bottom: 1rem;
  
}
.forgot_submit:hover{
  background-color: #687aa1;
  border-radius: 1em ;
}

.flex-conatiner01 a{
  margin-left: 38%;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}
.ErrorMsgDiv{
  text-align: center;
  color: red;
}