.forgot-password-section{
    padding-top: 3em;
    padding-left: 3em;
    padding-bottom: 5em;

}
.flex_container{
    display: flex;
    justify-content: space-between;
  }
  .forgot-container{
    margin-right: 10em;
    margin-left: 10em;
    box-shadow: 2px 2px 5px gray;
    border: 3px solid red;
  }  
  .flex-conatiner01 h1{
        text-align: center;
        color: green;
        font-family: georgia;
        font-weight: bold;
  }
  .forgot-image{
    text-align: left;
    width: 90%;
  }

  #forgot_img{
    width:30%;
    height: 300px;
    margin-left:10em;
    margin-left: 10em;
    margin-top: auto;
  }
  #forgot text{
    text-align: center;
    color: aliceblue;
  }