.forgot-password-section{
    padding-left: 10em;
    padding-bottom: 5em;

}
.flex_container01{
    display: flex;
    justify-content: space-between;   
  }

.forgot-container{
  margin-right: auto;
  margin-left: auto;
    box-shadow: 2px 2px 5px gray;
    border: 3px solid red;
} 

.flex-conatiner01 h1{
        text-align: center;
        color: green;
        font-family: georgia;
        font-weight: bold;
  }
  .forgot-image{
    width: 80%;
  }

  #forgot_img{
    width:25%;
    height: 180px;
    margin-left:48%;
    margin-right: 40%;
    margin-top: auto;
  }
  #forgot-text{
    text-align:justify;
    color:black;
    font-weight: 25px;
    font-family: gill sans MT;
    font-size:17px;
    padding-top: 1rem;
  }