
.bookmartlogo img{
    width:5.5em;
    height:5em;
   
}
    
.container p{
    white-space:nowrap;
    color:white;
    font-size: 15px;
   padding: 1rem 0;
  
}

.header-upper{
    width:100%;
    background-color: #034748;
    height:2.7em
    
}
.headerlinks{
    margin-left: 75%;
   
}
.icontag01 img {
    margin-left: 30%;
    padding-bottom: 0.4rem;
    margin-top: 0.2rem;
    padding-top: 0.4rem;
}
.icontag02 img{
    margin-left: 30%;
    padding-bottom: 0.4rem;
    margin-top: 0.2rem;
    padding-top: 0.4rem;
}
.icontag03 img{
    margin-left: 30%;
    padding-bottom: 0.4rem;
    margin-top: 0.2rem;
    padding-top: 0.4rem;
}
.header-bottom{
    width:100%;
    height:4.5em;
    background-color: white;
}

.btn.btn-secondary.dropdown-toggle.bg-transparent {
    color: black;
 }

 .btn.btn-secondary.dropdown-toggle.bg-transparent:hover{
    color: gray;

 }
 .dropdown-toggle{
    display: inline-block;
    vertical-align: middle;
    padding-right: 25%;
    padding-left: 0%;
    font-size: 18px;
    padding-top: 1.5rem;
    font-weight: bold;
 }
.dropdown-menu{
  
    position:fixed;
    max-height: 200px;
    overflow-y:scroll;

}
.menu-links {
    display: flex;
    justify-content: flex-end;
  }
  
.menu-links a {
    color: black;
    text-decoration: none;
    padding: 0 15px;
    font-size: 17px;
    padding-top: 1.8rem;
    font-weight: bold;
}
.menu-links a:hover{
    color: gray;
} 