#username{
    font-size: medium;
    color: aqua;
}
.bookmartlogo img{
    width:5.5em;
    height:5.5em;
    
}
.container p{
    white-space:nowrap;
    color:white;
    font-size: 15px;
    padding-top: 1rem;
}

.header-upper{
    width:100%;
    background-color: #034748;
    height:3em
    
}
.headerlinks{
    margin-left: 75%;
   
}
.icontag01 img {
    margin-left: 30%;
    padding-top: 1rem;
}
.icontag02 img{
    margin-left: 30%;
    padding-top: 1rem;
}
.icontag03 img{
    margin-left: 30%;
    padding-top: 1rem;
}
.header-bottom{
    width:100%;
    height:4em;
    background-color: white;
}
.dropdown{
    margin-left: 8%;
    margin-top: auto;
}