*{
    margin:0;
    box-sizing: border-box;
    font-family : "Sans-serif";
}

.page{
    height : 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.log{
    background-color: #ded0b7;
    width:  400px;
    height: 400px;
    border-radius: 1em;
    box-shadow: 0 0.180em 1.60em rgb(156, 156, 156);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: space-around;
}
.extra-Log{
    width: 80px;
    height:3em;
    display: flex;
    justify-content: space-around;
}

.extra-Log div{
    width: 45%;
    height: 90%;
    border-radius: 0.25em;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.Google{ background-image: url("https://icons8.com/icon/60984/google");
}

.Facebook{
    Background-image: url("https://icons8.com/icon/118466/facebook");
}
.Log-btn{
    text-align: center;

}