<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OrderPlaced</title>
    <link rel="stylesheet" href="OrderPlace.css">

</head>
<body>
    <section class='orderplace-section'>
          
        <div class='orderplace-content'>
            
            <h1>Your Order Is Placed</h1>
            <h4>Hii.. Customer,<br> </h4>
            <p>Great news your order is Placed. You can check our shipment details or track your order by clicking on the button below</p>
            <p >Your order ID is : <b id='order_text01'>order id</b></p>
            <h4>Thank you for Shopping with Us.!</h4>
            

            <button class="order_submit"><a href="http://localhost:3000/Order"><b id="button">Track Your Order</b></a></button>
        </div>

        
    </section>
</body>
</html>