.orderplace-section{
    background-color: #f5f5f5;
    padding: 7em 28% 9em 28%;
    display: flex;
    align-items:center;
    justify-content: space-between;
    
}

.orderplace-content{
    display: flex;
    background-color: white ;
    align-items:center;
    justify-content: space-between;
    flex-direction: column;
    border: none;
    padding: 2% 3rem 2% 3rem;
    box-shadow: 2px 2px 10px #2c0202;
    
}
.order_img{
    width: 15em;
    height: auto;
}

.orderplace-content h1{
    font-weight: bold;
    font-size: 37px;
}

.orderplace-content h4{
   font-size: 25px;
}

.orderplace-content p{
    font-size: 17px;
    
}

#order_text01{
 font-size: 20px;
 color:orange;
 font-weight: bold;
}
.order_submit{
    background-color: #11324d;
    padding: 0.6em 2.5% 0.6em;
    color: white;
    box-shadow: 2px 2px 10px #2c0202;
    transition: 0.2s ease-in;
    border: none;
    font-size: 22px;
    font-weight: bold;
    font-family: Gill Sans MT;
    white-space:nowrap;
    text-align: center;
    margin-right: 5%;
}
.order_submit:hover{
    background-color: rgb(255, 94, 0);
}