.product-section-container{
  padding-top: 10em;
  padding-left: 8em;
}

.flex_container{
  display: flex;
  justify-content: space-between;
}
.product-detail-container, .product_image{
  width:50%;

}
.product_image {
  text-align: center;
}

.product_img{
  display: flex;
  height:450px;
  width:50%;
  
}
