
.signup_container{   
    height:591px;
    width: 70%;
    border: 3px solid darkgoldenrod;
    display: flex;
    border-radius:5px;
    align-items:center;
    margin-left: 185px;
    margin-top: 30px;
}

.signup-image img{
    background-size: cover;
    width:100%;
    height: 585px; 
    
}

.signup_content{
    background-color: aliceblue;
    height:585px;
    width:70%;
}

.signup_content_row01 h1{
    margin-top: 8px;
    margin-left:45px;
    font-weight: bold;
    text-align: center;
    font-family: georgia;
}
.signup_content_row01 span{
    margin-left: 200px;
    text-align: center;
}
.signup_content_row02{
    display:flex;
    align-items: center;
}

.signup_content_col-01{
    margin-left: 50px;
    margin-right: 50px;
    flex-direction: column;
    display: flex;
    width:50%;
    float: left;
    padding-bottom: 3px;
    
}
.signup_content_col-02{
    flex-direction: column;
    display: flex;
    margin-left: 60px;
    margin-right: 50px;
  
}
.signup_placeholder{
    padding:5px;
    border-radius: 1em;
    border-left: 1em;
    border-top:1em;
    padding-left: 8px;
    padding-right: 10px;
   text-align: center;
   box-shadow: 1px 1px 1px  black inset,1px 1px 16px yellow;
}
.signup_content_row03{
   text-align: center;

}
.signup_button{
    background-color: yellow;
    display:inline-block;
    padding:0.8rem 2rem;
    text-decoration: none;
    box-shadow: 2px 2px 10px #2c0202;
    transition: 0.2s ease-in;
    border: none;
    font-size: 18px;
    font-weight: bold;
    font-family: Gill Sans MT;
    margin-left: 32px;
    border-radius: 1em ; 
}
.signup_button:hover{
    background-color: rgb(255, 94, 0);
    border-radius: 1em ;
}
<<<<<<< HEAD
.signup_p p{
=======
p{
>>>>>>> 7bc631875d9a1473f4086ab5c991b23e61d8a881
    margin-left: 50px;
    margin-top: 3px;
}