.reset-password-section {
  padding: 2em 22%;
}
.flex-container02 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.reset-container {
  margin: 0 auto;
  border: 3px solid #034748;
  box-shadow: 2px 2px 10px #2c0202;
  box-shadow: 2px 2px 5px gray;
  border: 3px solid #11324d;
  box-shadow: 2px 2px 10px #2c0202;
  background-color: #e9f1f7;
  width: 80%;
  max-width: 100%;
  padding: 1em;
}
.flex-container02 h1 {
  font-size: 2.5em;
  text-align: center;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  width: 120%;
  margin-bottom: 1rem;
}
.reset-image {
  width: 50%;
  margin-left: 25%;
}
#reset_img {
  width: 40%;
  height: 110px;
  margin-left: 30%;
  margin-right: 38%;
  margin-top: auto;
  margin-bottom: 1rem;
}
.reset-form {
  font-size: 18px;
  text-align: left;
  padding-left: 40%;
}
.reset-form01 {
  background-color: rgba(175, 173, 173, 0.911);
  padding: 1.2rem 20%;
  border: none;
  border-top: 1rem;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  margin-left: 40%;
  margin-bottom: 1.8rem;
  padding-left:20%;
}
.reset-buttons {
  display: flex;

}
.reset_submit01 {
  background-color: #034748;
  display: inline-block;
  color: white;
  box-shadow: 2px 2px 10px #2c0202;
  transition: 0.2s ease-in;
  border: none;
  padding: 5% 15% 3% 15%;
  font-size: 25px;
  font-weight: bold;
  font-family: Gill Sans MT;
  margin-left: 40%;
  border-radius: 1em;
  margin-bottom: 1rem;

  
}
.reset_submit02 {
    background-color: #034748;
    display: inline-block;
    padding: 0.3em 0.5em 0.5em 0.5em;
    color: white;
    box-shadow: 2px 2px 10px #2c0202;
    transition: 0.2s ease-in;
    border: none;
    font-size: 20px;
    font-weight: bold;
    font-family: Gill Sans MT;
    margin-left:40%;
    border-radius: 1em ;
    margin-bottom: 1rem;
  }
  .reset_submit01:hover, .reset_submit02:hover {
    background-color: #559fd8;
    border-radius: 1em ;
  }
  