.productsDiv{
    padding-top: 1cm;
    width: 80%;
    float: right;
   
}
#product{
    width: 20%;
    height: 320px;
    background-color: beige;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 5px;
    
    
    
}
.productImg{
    width: 170px;
    height: 190px;
    background-color: blue;
}
.MainDiv{
    background-color:rgb(238, 234, 234);
}
.NamePrice{
    height: 60px;
}

.Addtocart{
    width: 90px;
    background-color: rgba(246, 250, 6, 0.938);
    border: none;
    align-content: center;
}

.Addtocart:active{
    background-color: rgb(238, 33, 33);
}
.categories_div{
    width: 260px;
  
    float: left;
    padding-left: 1cm;
    
}
.categories{
    width: 100%;
    height: 40px;
    
    background-color:coral;
}
.category{
    color: black;
    
}
.no_products{
    font-size:1cm;
    text-align: center;
    padding-left: 3cm;
    padding-top: 2cm;
    color: red;
}