.orders-section{
    background-color: #f5f5f5;
    padding: 7em 28% 9em 28%;
    display: flex;
    align-items:center;
    justify-content: space-between;
    
}

.orders-content{
    display: flex;
    background-color: white ;
    align-items:center;
    justify-content: space-between;
    flex-direction: column;
    border: none;
    padding: 2% 3rem 2% 3rem;
    box-shadow: 2px 2px 10px #2c0202;
    
}

.head{
    background-color: #11324d;
    width: 100%;
    height: 5em;
    text-align: center;

}

.orders-content h1{
    font-weight: bold;
    font-size: 37px;
}

.orders-content h4{
   font-size: 25px;
}

.orders-content p{
    font-size: 17px;
    text-align: center;
}

.order_submit{
    background-color: #11324d;
    padding: 0.6em 2.5% 0.6em;
    color: white;
    box-shadow: 2px 2px 10px #2c0202;
    transition: 0.2s ease-in;
    border: none;
    font-size: 22px;
    font-weight: bold;
    font-family: Gill Sans MT;
    white-space:nowrap;
    text-align: center;
    margin-right: 5%;
    text-decoration: none;
}
.order_submit:hover{
    background-color: rgb(231, 144, 15);
}

#button{
    color: white;
    text-decoration: none;
}