<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verifyresetpassword</title>
    <link rel="stylesheet" href="verifyresetpassword.css">

</head>
<body>
    <section class='orders-section'>
          
        <div class='orders-content'>

            <div class="head">
                <h1>Book Mart</h1>
            </div>
            
            
            <h4>Hello.. Customer,<br> </h4>
            <p>We heard you need a password reset. Click the link below and you'll be redirected to a secure site from which you can set a new password<br></p>
            <br><button class="order_submit"><a href="http://localhost:3000/Order"><b id="button">Reset Password</b></a></button>
            <p><br>If you didn't try so reset your placid, click here and well

                forget this ever happened</p>
            

        </div>

        
    </section>
</body>
</html>