.productsdiv{
    background-color: white;
}


.product{
    background-color: rgb(208, 208, 216)e;
    width: 100%;
    height: 100px;
    
}
.product_info{
    
    width: 72%;
    background-color: rgb(229, 231, 202);
    height: 200px;
    float: left;
    margin-bottom: 30px;
}
.product_img_div{
    width: 13%;
    height: 200px;
    float: left;
    background-color: black;
    margin-bottom: 30px;
}
.wishlistdiv{
    width: 15%;
    float: right;
    background-color: rgb(208, 208, 216);
    height: 200px;
    text-align: center;
    margin-bottom: 30px;
}

.remove_button{
    width: 50%;
    background-color: rgb(228, 66, 66);
    border: none;
    color: white;
}

.addtocart_button{
    width: 50%;
    border: none;
}

.title{
    font-weight: bold;
    text-decoration: underline;
}

.price{
    font-weight: bold;
}

.table{
    width: 100%;
    border: 15px;
    
}

.image{
    width: 10%;
    height: 100%;
}

.bookdata{
    width: 75%;
}

.tools{
    width: 15%;
    text-align: center;
}

.description{
    font-family:monospace;
}

.head{
    background-color: #6B7AA1;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
