

/*About*/
.aboutcont {
    align-self: center;
    padding-bottom: 50px;
    margin-left: 20px;
}

.abcontainer-sub{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about__pic {
    margin-bottom: 35px;
    width: 1000px;
    height: auto;
    width: 100%;
    align-self: center;
}

.about__item {
    margin-bottom: 30px;
}

.about__item h3 {
    color: #111111;
    margin-bottom: 10px;
    font-family: Poppins-Medium;
    font-weight: bold;
    text-align: center;
}

.about__item p {
    margin-bottom: 0;
    color: #999;
    font-family: Poppins-Regular;
    font-size: 20px;
    text-align: center;
}


/*testomonial*/
.testimonial {
    background: #f3f2ee;
}

.testimonial__text {
    text-align: center;
    padding: 130px 150px 110px;
}

.testimonial__text span {
    color: #e53637;
    font-size: 72px;
}

.testimonial__text p {
    color: #111111;
    font-size: 20px;
    font-style: italic;
    line-height: 30px;
    padding-top: 12px;
    margin-bottom: 25px;
}

.testimonial__author {
    display: inline-block;
}

.testimonial__author__pic {
    float: left;
    margin-right: 20px;
}

.testimonial__author__pic img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.testimonial__author__text {
    overflow: hidden;
    padding-top: 3px;
}

.testimonial__author__text h5 {
    color: #111111;
    font-weight: 700;
    margin-bottom: 5px;
}

.testimonial__author__text p {
    color: #b7b7b7;
    margin-bottom: 0 !important;
    padding-top: 0;
}

.testimonial__pic {
    height: 600px;
}






.team {
    padding-bottom: 70px;
}

.team .container {
    display: flex;
    flex-direction: column;
}

.team__item {
    margin-bottom: 30px;
}

.team__item img {
    min-width: 100%;
    margin-bottom: 25px;
}

.team__item h4 {
    color: #111111;
    font-weight: 700;
    margin-bottom: 8px;
    font-family: Poppins-Bold;
}

.team__item span {
    font-size: 15px;
    display: block;
    color: #b2b2b2;
}






/*icons*//*
@font-face {
    font-family: 'ElegantIcons';
    src:url('../fonts/ElegantIcons/ElegantIcons.eot');
    src:url('../fonts/ElegantIcons/ElegantIcons.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ElegantIcons/ElegantIcons.woff') format('woff'),
    url('../fonts/ElegantIcons/ElegantIcons.ttf') format('truetype'),
    url('../fonts/ElegantIcons/ElegantIcons.svg#ElegantIcons') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon_quotations, .icon_quotations_alt2,.icon_quotations_alt {
    font-family: 'ElegantIcons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.icon_quotations:before {
    content: "\7b";
}
.icon_quotations_alt2:before {
    content: "\7c";
}
.icon_quotations_alt:before {
    content: "\e06a";
}
*/
/*counter*/
.counter {
    padding-bottom: 0;
}

.counter .container {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 30px;
}

.counter__item {
    margin-bottom: 30px;
    overflow: hidden;
}

.counter__item .counter__item__number {
    float: left;
    margin-right: 15px;
}

.counter__item .counter__item__number h2 {
    color: #111111;
    font-weight: 500;
    font-size: 60px;
    line-height: 50px;
    display: inline-block;
    font-family: Poppins-Bold;
}

.counter__item .counter__item__number strong {
    color: #000000;
    font-weight: 700;
    font-size: 60px;
    line-height: 50px;
    display: inline-block;
}

.counter__item span {
    display: block;
    color: #625f5f;
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
    overflow: hidden;
    font-family: Poppins-Regular;
}



/*helper css*/
.about{
    padding-top: 20px;
    padding-bottom: 100px;
}

.spad {
    padding-top: 100px;
    padding-bottom: 100px;
}
.section-title {
    margin-bottom: 45px;
    text-align: center;
}

.section-title span {
    color: #e53637;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 15px;
    display: block;
}

.section-title h2 {
    color: #111111;
    font-weight: 700;
    line-height: 46px;
    font-family: Poppins-Bold;
}



/*clients*/
.clients {
    padding-top: 0;
    padding-bottom: 25px;
}

.clients .container{
    display: flex;
    flex-direction: column;
}

.client__item {
    display: block;
    margin-bottom: 75px;
    text-align: center;
}