*{
    margin:0;
    padding:0;

}
.homecontainer{
    width:100%;
    height:100vh;   
}
.video-container video{
    width:100%;
    height:40%;
    object-fit:contain;
}
.video-content{
    position:absolute;
    width:100%;
    height:100%;
    top:30em;
    left:30em;
    display:flex;
    flex-direction: column;
}
.imgs{
    width: 230px;
    height: 230px;
    
}
.items{
    margin-left: 30px;
    margin-top: 20px;
    border: 1px solid black;
    padding: 10px;
    width: 252px;
    
    
}
.topcontain{
    display: flex;
    margin-left: 35px;
    
}
Link{
    text-decoration: none;
}
Link:hover{
    text-decoration: none;
}