*{
    margin:0;
    padding:0;

}
.homecontainer{
    width:100%;
    height:100vh;   
    
}
.video-container video{
    width:100%;
    height:40%;
    object-fit:contain;
}
.video-content{
    position:absolute;
    width:100%;
    height:100%;
    top:7em;
    justify-content:center;
   margin-left: 25%;
    display:flex;
    margin-right: 17%;
    flex-direction: column;
}
.overLay{
    position:absolute;
    top:10em;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.form-control{
    padding: 1.7em;
    border: 2px solid none;
    width:10%;
    text-align: center;
    color:black;
    font-size:14px;
    border-radius: 1.7rem ;   
}
.searchicon{
    margin-left: 0.7rem;
    margin-bottom: 0.2rem;
    margin-top: 1rem;
    height:3rem;
    
}
.imgs{
    width: 230px;
    height: 230px;
    
}
.items{
    margin-left: 30px;
    margin-top: 20px;
    border: 1px solid black;
    padding: 10px;
    width: 252px;
    
    
}
.topcontain{
    display: flex;
    margin-left: 35px;
    
}
Link{
    text-decoration: none;
}
Link:hover{
    text-decoration: none;
}
.productsDiv{
    padding-top: 1cm;
    width: 100px;
    background-color: blue;
    
   
}
.product{
    width: 21%;
    height: 320px;
    
    padding-top: 15px;
    padding-left: 38px;
    padding-right: 20px;
    margin: 5px;
    
    
    
}
.productImg{
    width: 170px;
    height: 190px;
    background-color: blue;
}
.MainDiv{
    background-color:rgb(238, 234, 234);
    float: left;
}
.NamePrice{
    height: 60px;
}