.homecontainer{
    margin-left: 0px;
    padding-left: 0px;
  
 
    
}
.imgs{
    width: 230px;
    height: 230px;
    
}
.items{
    margin-left: 30px;
    margin-top: 20px;
    border: 1px solid black;
    padding: 10px;
    width: 252px;
    
    
}
.topcontain{
    display: flex;
    margin-left: 35px;
    
}
Link{
    text-decoration: none;
}
Link:hover{
    text-decoration: none;
}