.verifyemail-section{
    background-color:white;
    padding: 3em 28% 3em 28%;
    display: flex;
    align-items:center;
    justify-content: space-between;
    
}

.verifyemail-content{
    display: flex;
    background-color: white ;
    align-items:center;
    justify-content: space-between;
    flex-direction: column;
    border: none;
    padding: 2% 3rem 2% 3rem;
    box-shadow: 2px 2px 10px #2c0202;
   
}

.verifyemail_img{
    width: 10em;  
    height:8em;
    margin-left: 2rem;
}

.verifyemail-content h2{
    font-weight: bold;
    font-size: 37px;
    color: green;
}

#welcome{
    color: rgb(6, 2, 68);
    text-decoration: none;
}

.verifyemail-content p{
    font-size: 15px;
    text-align: center;
}

#verify_text01{
    font-size: 18px;
    color: black;
    font-weight: bold;
 }

